@import '@scss/_variables.scss';

.footer {   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $c-secondary-background;
    border-radius: 32px 32px 0 0;
    padding: 24px 0;
    margin-top: auto;  
    z-index: 2; 
}